header {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 1.5rem 4rem;
}

a {
  text-decoration: none;
}

.list {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  gap: 2rem;
}

.list li a {
  color: rgb(104, 104, 207);
  font-weight: 500;
}
